@use '../../variables';
$project-info-panel-width: 550px;

.projects {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: variables.$project-column-gap;

	@media (max-width: variables.$mobile-layout-width) {
		flex-direction: column;
		section {
			width: variables.$column-width-mobile !important;
		}
		.right-column {
			h1 {
				display: none; // to remove h1 spacing from right column
			}
		}
	}

	.left-column,
	.right-column {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: variables.$column-width; // should be the same to evenly size page into 2 sections
		border-radius: 10px;
		overflow: hidden;

		h1 {
			font-size: 60px;
			margin: 0;
		}
		.project {
			position: relative;

			img {
				// images should be 1440/1000 in devtools
				border-radius: 10px;
				width: 100%;
				height: 350px;
				object-fit: cover;
			}
			.overlay {
				position: absolute;
				border-radius: 10px;
				bottom: 0;
				height: 99%; // to line up with image
				width: 100%;
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
				transition: 0.2s opacity;
				margin-bottom: 4px; // to line up with image

				&:hover {
					cursor: pointer;
				}
			}

			.project-info.active {
				opacity: 1;
				transition: 0.5s all;
				margin-bottom: 0px;
			}
			.project-info {
				padding: 30px;
				position: absolute;
				bottom: 0;
				color: white;
				opacity: 0;
				margin-bottom: -10px;
				transition: 0.3s all;

				&:hover {
					cursor: pointer;
				}
				h2 {
					margin-bottom: 10px;
				}
				// limit project description to 2 lines then ellipsis
				> p {
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
				}
				p {
					margin-top: 0;
				}
				.technologies {
					display: flex;
					flex-wrap: wrap;
					column-gap: 10px;
					row-gap: 5px;

					p {
						font-size: 12px;
						background-color: gray;
						padding: 6px 10px;
						border-radius: 30px;
						font-weight: bold;
						margin-bottom: 5px;
					}
				}
			}
		}
	}

	.right-column {
		> h1 {
			// to hide the 2nd h1 and keep both columns balanced
			visibility: hidden;
		}
	}

	.project-info-screen {
		top: 0;
		left: 0;
		position: fixed;
		width: 100vw;
		height: 100vh;
		z-index: 3;
		display: flex;
		background-color: rgba(0, 0, 0, 0.8);

		@media (max-width: $project-info-panel-width) {
			overflow-y: scroll;
			background-color: rgba(0, 0, 0, 0);
		}

		.blank-space {
			width: 100%;
			height: 100%;
			@media (max-width: $project-info-panel-width) {
				width: 0%;
			}
		}
		.info-panel {
			display: flex;
			flex-direction: column;
			gap: 20px;
			padding: 30px 20px;
			padding-bottom: 150px;
			min-width: $project-info-panel-width;
			max-width: $project-info-panel-width;
			height: 100%;
			background-color: white;
			overflow-y: scroll;
			box-sizing: border-box;
			animation: slide-in1 0.5s ease-out;
			z-index: 5;

			@media (max-width: $project-info-panel-width) {
				position: absolute;
				left: 0;
				overflow-y: auto;
				animation: slide-in2 0.5s ease-out;
				height: fit-content;
			}

			button {
				background: none;
				border: 2px solid gray;
				color: gray;
				min-width: 25px;
				min-height: 25px;
				max-height: 25px;
				max-width: 25px;
				border-radius: 25px;
				line-height: 20px;
				&:hover {
					cursor: pointer;
				}
			}

			// placeholder container so image can load in
			.project-image-container {
				background-color: white;
				width: 100%;
				min-height: 350px;
			}
			.info {
				display: flex;
				flex-direction: column;
				gap: 30px;
				min-height: fit-content;

				h1 {
					font-size: 22px;
					margin: 0;
				}

				// groups labels to info
				> div {
					display: flex;
					flex-direction: column;
					gap: 8px;

					p {
						margin: 0;
					}
					h2 {
						font-size: 18px;
						margin: 0;
					}
					.technologies {
						display: flex;
						flex-wrap: wrap;
						gap: 10px;

						p {
							font-size: 12px;
							background-color: #efe9e4;
							padding: 6px 10px;
							border-radius: 5px;
							font-weight: bold;
							margin-bottom: 5px;
						}
					}
					a {
						margin: 0;
						color: inherit;
						overflow: hidden;
						text-overflow: ellipsis;
						text-decoration: none;
						&:hover {
							text-decoration: underline;
						}
					}
					.github-links {
						display: flex;
						flex-direction: column;
					}
				}
			}
			@media (max-width: $project-info-panel-width) {
				min-width: 0px;
				min-width: 100vw;
			}
		}
	}
}

@keyframes slide-in1 {
	0% {
		margin-left: 1500px;
	}
	100% {
		margin-left: 0px;
	}
}

@keyframes slide-in2 {
	0% {
		left: 1500px;
	}
	100% {
		left: 0px;
	}
}
