.projects {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;

	@media (max-width: 1024px) {
		flex-direction: column;
		section {
			width: 80% !important;
		}
		.right-column {
			h1 {
				display: none; // to remove h1 spacing from right column
			}
		}
	}
	section {
		display: flex;
		flex-direction: column;
		gap: 20px;
		width: 40%; // should be the same to evenly size page into 2 sections
		border-radius: 10px;
		overflow: hidden;

		h1 {
			font-size: 60px;
			margin: 0;
		}
		img {
			border-radius: 10px;
			width: 100%;
			height: auto;
		}
	}

	.left-column {
	}
	.right-column {
		h1 {
			// to hide the 2nd h1 and keep both columns balanced
			visibility: hidden;
		}
	}
}
