@use '../../variables';

.projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	padding: 60px 0px;
	width: 100%;

	> h1 {
		position: relative;
		margin: 0;
		width: calc(80% + variables.$project-column-gap);
		font-size: 60px;
		text-align: center;
	}

	> h1:after {
		position: absolute;
		bottom: -2px;
		left: 50%;
		transition: all 1s;
		background-color: black;
		width: 0px;
		height: 1.5px;
		content: '';
	}

	.project-filter {
		display: flex;
		gap: 40px;
		padding: 20px 10px;

		.active {
			transition: background-color 0.5s;
			border-radius: 10px;
			background-color: rgb(52, 58, 64);
			color: white;
			font-weight: 600;
		}
		button {
			border: none;
			border-radius: 10px;
			background: none;
			padding: 8px 10px;
			width: 70px;
			color: rgb(40, 40, 40);
			font-weight: 400;
			font-size: 16px;

			&:hover {
				cursor: pointer;
			}
		}
	}

	.columns {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: variables.$project-column-gap;
		width: 100%;

		@media (max-width: variables.$mobile-layout-width) {
			flex-direction: column;
			section {
				width: variables.$column-width-mobile !important;
			}
		}
	}

	.right-column:last-child {
		margin-bottom: auto;
	}

	.left-column,
	.right-column {
		display: flex;
		flex-direction: column;
		gap: 20px;
		border-radius: 10px;
		width: variables.$column-width;
		// overflow: hidden;

		.project {
			position: relative;
			animation: fade-in 1s;

			&:hover {
				> img {
					box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
				}
			}
			> img {
				transition: 0.3s all;
				box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
				border-radius: 10px;
				width: 100%;
				height: 350px;
				object-fit: cover;
			}
			.overlay {
				position: absolute;
				bottom: 0;
				transition: 0.2s opacity;
				margin-bottom: 4px; // to line up with image
				border-radius: 10px;
				background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.1) 100%);
				width: 100%;
				height: 99%; // to line up with image

				&:hover {
					cursor: pointer;
				}
			}

			.project-info.active {
				opacity: 1;
				transition: 0.5s all;
				margin-bottom: 0px;
			}
			.project-info {
				position: absolute;
				bottom: 0;
				opacity: 0;
				transition: 0.3s all;
				margin-bottom: -10px;
				padding: 30px;
				color: white;

				&:hover {
					cursor: pointer;
				}
				h2 {
					margin-bottom: 10px;
				}
				// limit project description to 2 lines then ellipsis
				> p {
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
					display: -webkit-box;
					overflow: hidden;
					text-overflow: ellipsis;
				}
				p {
					margin-top: 0;
				}
				.technologies {
					display: flex;
					column-gap: 10px;
					row-gap: 5px;
					flex-wrap: wrap;

					p {
						margin-bottom: 5px;
						border-radius: 30px;
						background-color: gray;
						padding: 6px 10px;
						font-weight: bold;
						font-size: 12px;
					}
				}
			}
		}
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
		margin-top: 50px;
	}
	100% {
		opacity: 1;
		margin-top: 0px;
	}
}
