$project-info-panel-width: clamp(495px, 50vw, 550px);

.project-info-screen {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100vw;
	height: 100vh;
	@media (max-width: $project-info-panel-width) {
		// have whole screen be scrollable in mobile layout
		// prevents accidentally scrolling the background
		overflow-y: scroll;
		overscroll-behavior-y: contain;
	}

	.blank-space {
		width: 100%;
		height: 100%;
	}

	.info-panel {
		display: flex;
		position: absolute;
		right: 0;
		flex-direction: column;
		gap: 20px;
		animation: slide-in 0.5s ease-out;
		box-sizing: border-box;
		background-color: white;
		padding: 30px 20px;
		width: $project-info-panel-width;
		max-width: 100vw;
		height: 100%;
		overflow-y: scroll;

		@media (max-width: $project-info-panel-width) {
			padding-bottom: 150px;
			height: fit-content;
		}

		button {
			border: 2px solid gray;
			border-radius: 25px;
			background: none;
			width: 25px;
			height: 25px;
			color: gray;
			line-height: 20px;
			&:hover {
				cursor: pointer;
			}
		}

		.project-image-container {
			background-color: white;
			width: 100%;
			min-height: 350px;

			img {
				border-radius: 10px;
				width: 100%;
				height: 350px;
				object-fit: cover;
			}
		}

		.info {
			display: flex;
			flex-direction: column;
			gap: 30px;

			h1 {
				margin: 0;
				font-size: 22px;
			}

			// groups labels and info
			> div {
				display: flex;
				flex-direction: column;
				gap: 8px;

				p {
					margin: 0;
				}
				h2 {
					margin: 0;
					font-size: 18px;
				}
				.technologies {
					display: flex;
					flex-wrap: wrap;
					gap: 10px;

					p {
						margin-bottom: 5px;
						border-radius: 5px;
						background-color: #efe9e4;
						padding: 6px 10px;
						font-weight: bold;
						font-size: 12px;
					}
				}
				a {
					margin: 0;
					overflow: hidden;
					color: inherit;
					text-decoration: none;
					text-overflow: ellipsis;
					&:hover {
						text-decoration: underline;
					}
				}
				.github-links {
					display: flex;
					flex-direction: column;
				}
			}
		}
	}
}

@keyframes slide-in {
	0% {
		right: -99vw;
	}
	100% {
		right: 0px;
	}
}
