@use '../../variables';

main.technologies {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	// backdrop-filter: brightness(0) saturate(100%) invert(85%) sepia(22%) saturate(128%) hue-rotate(227deg)
	// 	brightness(79%) contrast(90%) opacity(0.3);
	box-sizing: border-box;

	// box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
	// border-bottom-right-radius: 10px;
	padding: 60px 0px;
	width: 100%;

	h1 {
		margin: 0;
		margin-left: -15px;
		padding-bottom: 50px;
		width: calc(80% + variables.$project-column-gap);
		font-size: 60px;
		text-align: center;
		word-break: break-all;
	}

	.technologies-group:nth-child(3),
	.technologies-group:nth-child(4),
	.technologies-group:nth-child(7) {
		flex-direction: row-reverse;
		@media (max-width: 1200px) {
			flex-direction: column;
		}
	}
	.technologies-group:nth-child(8) {
		padding-bottom: 0px;
	}
	.technologies-group {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 25px;
		box-sizing: border-box;
		padding-bottom: 100px;
		width: fit-content;
		height: fit-content;

		@media (max-width: 1200px) {
			flex-direction: column;
			> * {
				width: 90% !important;
			}
		}

		.technologies-images {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			gap: 10px;
			width: 30%;

			img {
				backdrop-filter: blur(1px);
				transition: 0.3s all;
				box-sizing: border-box;
				box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.3);
				border-radius: 10px;
				padding: 15px;
				aspect-ratio: 1 / 1; // for height = width
				width: calc(33% - 10px);
				min-width: 100px;
				max-width: 200px;

				&:hover {
					box-shadow: 5px 5px 0px rgba(0, 0, 0, 0.5);
				}
			}
		}

		p {
			backdrop-filter: blur(1px);
			box-sizing: border-box;
			width: 50%;
			font-size: 17px;
			line-height: 1.8;
		}
	}
}
