@use '../../variables';

.resume {
	display: flex;
	justify-content: center;
	width: 100%;

	section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: calc((variables.$column-width * 2) + variables.$project-column-gap);

		@media (max-width: variables.$mobile-layout-width) {
			width: variables.$column-width-mobile;
		}
		h1 {
			margin-right: auto;
			font-size: 60px;
		}
		img {
			border: 1px solid black;
			height: auto;
			width: 100%;
			max-width: 600px;
		}
	}
}
