@use '../../variables';

.contact {
	display: flex;
	justify-content: center;
	width: 100%;

	section {
		width: calc((variables.$column-width * 2) + variables.$project-column-gap);

		h1 {
			font-size: 60px;
			margin: 0;
		}
		p {
			margin: 10px 0px;
		}
		form {
			display: flex;
			flex-direction: column;
			gap: 10px;

			// label input pairs
			div {
				display: flex;
				flex-direction: column;
				gap: 5px;

				input,
				textarea {
					padding: 5px;
					background: none;
					border: 0.5px solid gray;
				}
				textarea {
					min-height: 50px;
					max-height: 50px;
					min-width: 100%;
					max-width: 100%;
					box-sizing: border-box;
				}
			}

			button {
				margin-top: 20px;
				color: white;
				background-color: black;
				width: 175px;
				height: 45px;
				border-radius: 5px;
				border: none;
				&:hover {
					cursor: pointer;
				}
			}
		}
	}
}
