html {
	scroll-behavior: smooth;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative !important;
	margin: 0;

	/* for svg to scale correctly */
	height: 100%;
	overflow-x: hidden;

	overscroll-behavior-y: contain;
	scroll-behavior: smooth;
	font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	// gap: 120px; /* gap between sections */

	transition: --myColor2 2s, all 2s;

	/* background gradient and svg */
	background: linear-gradient(80deg, var(--myColor1) 0%, var(--myColor1) 0%, var(--myColor2) 100%),
		url('./images/background.svg');

	/* for background to not move with the page, causes issues on mobile */
	@media (min-width: 426px) {
		background-attachment: fixed;
	}

	padding-bottom: 150px;

	main h1,
	section > p,
	nav a {
		transition: color 2s;
		color: rgb(0, 0, 0) !important;
	}
}

@property --myColor1 {
	syntax: '<color>';
	initial-value: rgba(252, 247, 245, 0);
	inherits: false;
}

@property --myColor2 {
	syntax: '<color>';
	initial-value: #c1e2ec;
	inherits: false;
}

.App.aboutMeSection {
	--myColor2: #c1e2ec;
	transition: --myColor2 2s, all 2s;

	@media (min-width: 426px) {
		background-attachment: fixed;
	}

	#about-me {
		h1:after {
			left: 25%;
			width: 50%;
		}
	}
}

.App.techSection {
	--myColor2: rgba(211, 211, 211, 1);
	transition: --myColor2 2s, all 2s;

	@media (min-width: 426px) {
		background-attachment: fixed;
	}

	#technologies {
		h1:after {
			left: 25%;
			width: 50%;
		}
	}
}

.App.projectSection {
	--myColor2: #c9e9c4;
	transition: --myColor2 2s, all 2s;

	@media (min-width: 426px) {
		background-attachment: fixed;
	}

	#projects {
		h1:after {
			left: 35%;
			width: 30%;
		}
	}
}

.App.resumeSection {
	--myColor2: rgba(211, 211, 211, 1);
	transition: --myColor2 2s, all 2s;

	@media (min-width: 426px) {
		background-attachment: fixed;
	}
	#resume {
		h1:after {
			left: 35%;
			width: 30%;
		}
	}
}

.App.contactSection {
	--myColor2: #c1e2ec;
	transition: --myColor2 2s, all 2s;

	@media (min-width: 426px) {
		background-attachment: fixed;
	}
	#contact {
		h1:after {
			left: 35%;
			width: 30%;
		}
	}
}

.App.light-false {
	/*
	background-image: linear-gradient(
			80deg,
			rgba(252, 247, 245, 0) 0%,
			rgba(252, 247, 245, 0) 0%,
			rgba(247, 255, 134, 0.07)
		),
		url('./images/background.svg');*/

	background: linear-gradient(80deg, var(--myColor1) 0%, var(--myColor1) 0%, var(--myColor2) 100%),
		url('./images/background.svg');

	background-color: rgb(17, 17, 27);

	main h1,
	section > p,
	#technologies > *,
	nav a {
		transition: color 2s;
		color: rgb(230, 230, 230) !important;
	}

	#technologies img {
		box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.3);
		background-color: rgba(255, 255, 255, 1);
		&:hover {
			box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.5);
		}
	}

	#projects {
		.project-filter {
			> button {
				color: white;
			}
			> button.active {
				background-color: #4e575f;
			}
		}

		.project {
			&:hover {
				> img {
					box-shadow: 5px 5px 0px rgba(255, 255, 255, 0.5);
				}
			}
		}
		.project > img {
			box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.3);
		}
	}

	#contact-form {
		button {
			background-color: white;
			color: black;
		}
		label {
			color: white;
		}
		input,
		textarea {
			border-color: white;
			color: white;
		}
	}

	.info-panel {
		background-color: #020a13;
		> img:first-child {
			// close icon
			filter: invert(1);
		}
		.technologies > p {
			background-color: #4e575f !important;
		}
		h2,
		p,
		a {
			color: white !important;
		}
		.project-image-container {
			background-color: black;

			.sub-images {
				background-color: black;

				img {
					box-shadow: 3px 3px 0px rgba(255, 255, 255, 0.5);
					background-color: white;
					&:hover {
						box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.8);
					}
				}
				img.active {
					box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.8);
				}
			}
		}
	}

	.full-screen-image-background {
		div {
			background-color: rgb(32, 32, 32);
			> img:first-child {
				// close icon
				filter: invert(1);
			}
		}
	}

	nav img {
		filter: invert(1);
	}

	.underline-animation:after {
		background-color: white !important;
	}

	.about-me {
		li {
			color: white;
		}
	}
}

.App.aboutMeSection.light-false {
	--myColor2: rgba(171, 222, 237, 0.3);
	transition: --myColor2 2s, all 2s;

	@media (min-width: 426px) {
		background-attachment: fixed;
	}

	#about-me {
		h1:after {
			left: 25%;
			width: 50%;
		}
	}
}

.App.techSection.light-false {
	--myColor2: rgba(211, 211, 211, 0.3);
	transition: --myColor2 2s, all 2s;

	@media (min-width: 426px) {
		background-attachment: fixed;
	}

	#technologies {
		h1:after {
			left: 25%;
			width: 50%;
		}
	}
}

.App.projectSection.light-false {
	--myColor2: rgba(169, 232, 180, 0.3);
	transition: --myColor2 2s, all 2s;

	@media (min-width: 426px) {
		background-attachment: fixed;
	}

	#projects {
		h1:after {
			left: 35%;
			width: 30%;
		}
	}
}

.App.resumeSection.light-false {
	--myColor2: rgba(211, 211, 211, 0.3);
	transition: --myColor2 2s, all 2s;

	@media (min-width: 426px) {
		background-attachment: fixed;
	}
	#resume {
		h1:after {
			left: 35%;
			width: 30%;
		}
	}
}

.App.contactSection.light-false {
	--myColor2: rgba(171, 222, 237, 0.3);
	transition: --myColor2 2s, all 2s;

	@media (min-width: 426px) {
		background-attachment: fixed;
	}
	#contact {
		h1:after {
			left: 35%;
			width: 30%;
		}
	}
}

/* overlay that slightly changes background gradient */
/*
.App::before {
	position: absolute;
	top: 0;
	z-index: -1;
	animation: 10s infinite alternate ease-in-out opacity;
	background-image: linear-gradient(
		80deg,
		rgba(252, 247, 245, 0) 0%,
		rgba(252, 247, 245, 0) 0%,
		rgba(255, 134, 243, 0.12) 100%
	);
	width: 100%;
	height: 100%;
	content: '';
}
*/

@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
