html {
	//height: 100%;
	//overflow-y: hidden;
}

body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative !important;
	margin: 0;

	/* for svg to scale correctly */
	height: 100%;
	overflow-x: hidden;

	overscroll-behavior-y: contain;
	scroll-behavior: smooth;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
		'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.App.light-false {
	background-image: linear-gradient(
			80deg,
			rgba(252, 247, 245, 0) 0%,
			rgba(252, 247, 245, 0) 0%,
			rgba(247, 255, 134, 0.07)
		),
		url('./images/background.svg');
	background-color: rgb(17, 17, 27);

	main h1,
	section > p,
	nav a {
		color: rgb(230, 230, 230) !important;
	}

	.project-filter {
		> button {
			color: white;
		}
		> button.active {
			background-color: #4e575f;
		}
	}

	#contact-form {
		button {
			background-color: white;
			color: black;
		}
		label {
			color: white;
		}
		input,
		textarea {
			border-color: white;
			color: white;
		}
	}

	.info-panel {
		background-color: #020a13;
		> img:first-child {
			// close icon
			filter: invert(1);
		}
		.technologies > p {
			background-color: #4e575f !important;
		}
		h2,
		p,
		a {
			color: white !important;
		}
	}

	nav img {
		filter: invert(1);
	}

	.underline-animation:after {
		background-color: white;
	}

	.about-me {
		li {
			color: white;
		}
	}
}

.App {
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: center;
	// gap: 120px; /* gap between sections */

	transition: --myColor2 2s;

	/* background gradient and svg */
	background: linear-gradient(80deg, var(--myColor1) 0%, var(--myColor1) 0%, var(--myColor2) 100%),
		url('./images/background.svg');
	/*
	background: linear-gradient(
		80deg,
		rgba(252, 247, 245, 0) 0%,
		rgba(252, 247, 245, 0) 0%,
		rgba(255, 134, 243, 0.25) 100%
	);
	*/

	/* background svg without gradient */
	/*
	background-image: linear-gradient(80deg, rgba(252, 247, 245, 0) 0%, rgba(252, 247, 245, 0) 100%),
		url('./images/background.svg');*/

	/* for background to not move with the page, causes issues on mobile */
	@media (min-width: 426px) {
		background-attachment: fixed;
	}

	padding-bottom: 150px;
}

@property --myColor1 {
	syntax: '<color>';
	initial-value: rgba(252, 247, 245, 0);
	inherits: false;
}

@property --myColor2 {
	syntax: '<color>';
	initial-value: rgba(255, 134, 243, 0.25);
	inherits: false;
}

.App.techSection {
	--myColor2: rgba(255, 255, 0, 0.25);
	transition: --myColor2 2s;

	@media (min-width: 426px) {
		background-attachment: fixed;
	}
}

.App.projectSection {
	--myColor2: rgba(0, 255, 60, 0.25);
	transition: --myColor2 2s;

	@media (min-width: 426px) {
		background-attachment: fixed;
	}
}

.App.resumeSection {
	--myColor2: rgba(255, 0, 38, 0.25);
	transition: --myColor2 2s;

	@media (min-width: 426px) {
		background-attachment: fixed;
	}
}

/* overlay that slightly changes background gradient */
/*
.App::before {
	position: absolute;
	top: 0;
	z-index: -1;
	animation: 10s infinite alternate ease-in-out opacity;
	background-image: linear-gradient(
		80deg,
		rgba(252, 247, 245, 0) 0%,
		rgba(252, 247, 245, 0) 0%,
		rgba(255, 134, 243, 0.12) 100%
	);
	width: 100%;
	height: 100%;
	content: '';
}
*/

@keyframes opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
