@use '../../variables';

.about-me.light-false {
	.info {
		h1 {
			color: white;
		}
	}
}
#about-me {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
	padding: 60px 0px;
	width: 100%;

	@media (max-width: 1024px) {
		flex-direction: column;
	}
	section {
		border-radius: 10px;
		width: variables.$column-width; // should be the same to evenly size page into 2 sections
		overflow: hidden;
		@media (max-width: variables.$mobile-layout-width) {
			width: variables.$column-width-mobile;
		}
	}
	.info {
		backdrop-filter: blur(1px);
		box-sizing: border-box;
		padding: 5px;

		h1 {
			position: relative;
			margin: 0;
			margin-left: -5px;
			font-size: 60px;
			text-align: center;
		}

		h1:after {
			position: absolute;
			bottom: -2px;
			left: 50%;
			transition: all 1s, background-color 2s;
			background-color: black;
			width: 0px;
			height: 1.5px;
			content: '';
		}

		p {
			font-weight: 400;
			font-size: 17px;
			line-height: 1.8;
		}
	}

	.image {
		display: flex;
		justify-content: center;
		img {
			width: 100%;
			max-width: 470px;
			height: 500px;
			object-fit: cover;
			object-position: top;
		}
	}
}
