@use '../../variables';

.about-me.light-false {
	.info {
		h1 {
			color: white;
		}
	}
}
.about-me {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 25px;
	width: 100%;

	@media (max-width: 1024px) {
		flex-direction: column;
	}
	section {
		border-radius: 10px;
		width: variables.$column-width; // should be the same to evenly size page into 2 sections
		overflow: hidden;
		@media (max-width: variables.$mobile-layout-width) {
			width: variables.$column-width-mobile;
		}
	}
	.info {
		h1 {
			margin: 0;
			font-size: 60px;
		}
		p {
			font-size: 15px;
			line-height: 2;
		}
		.technologies {
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			ul {
				margin: 0;
				padding: 0px 50px;
				li {
					margin-bottom: 10px;
				}
			}
		}
	}

	.image {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}
